{%- if include.theme == 'dark' -%}
  <header class="header header--dark" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- elsif include.theme == 'light' -%}
  <header class="header header--light" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- else -%}
  <header class="header" {%- if include.background -%} style="background: {{ include.background }};" {%- endif -%}>
{%- endif -%}
    <div class="main">
      <div class="header__title">
        <div class="header__brand">
          <div class="item">
  <div class="item__image">
    <img class="image image--xs rounded" style="width:3rem; border-radius:3px;" src="/kirill_ulitin.jpg"/>
  </div>
  <div class="item__content">
    <div class="item__header">
      {%- assign _paths_root = site.paths.root | default: site.data.variables.default.paths.root  -%}
      {%- include snippets/get-nav-url.html path=_paths_root -%}
      {%- if site.title -%}
        <a title="{%- if site.description -%}{{ site.description }}{%- endif -%}" href="{{ __return }}">{{ site.title }}</a>
        <br><span style="font-size:0.85rem; opacity:.6">UX-архитектор</span>
      {%- endif -%}
    </div>
  </div>
</div>

        </div>
        {%- if site.search.provider -%}
          <button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button>
        {%- endif -%}
      </div>
      {%- if site.data.navigation.header -%}
      <nav class="navigation">
        <ul>
          {%- for _item in site.data.navigation.header -%}
            {%- include snippets/get-nav-url.html path=_item.url -%}
            {%- assign _nav_url = __return -%}
            {%- include snippets/get-nav-url.html path=page.url -%}
            {%- assign _page_url = __return -%}
            {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
            {%- if _nav_url == _page_url or page.nav_key and _item.key and page.nav_key == _item.key -%}
              <li class="navigation__item navigation__item--active"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
            {%- else -%}
              <li class="navigation__item"><a href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a></li>
            {%- endif -%}
          {%- endfor -%}
          {%- assign _author = site.author -%}
          <!-- {%- if _author.facebook -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Facebook' }}">
              <a class="button button--circle facebook-button" itemprop="sameAs" href="https://www.facebook.com/{{ _author.facebook }}" target="_blank">
                <div class="icon">{%- include svg/icon/social/facebook.svg -%}</div>
              </a>
            </li>
          {%- endif -%}
          {%- if _author.medium -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Medium' }}">
              <a class="button button--circle medium-button" itemprop="sameAs" href="https://medium.com/{{ _author.medium }}" target="_blank">
                <div class="icon">{%- include svg/icon/social/medium.svg -%}</div>
              </a>
            </li>
          {%- endif -%}
          {%- if _author.linkedin -%}
            <li title="{{ _locale_string_follow | replace: '[NAME]', 'Linkedin' }}">
              <a class="button button--circle linkedin-button" itemprop="sameAs" href="https://www.linkedin.com/in/{{ _author.linkedin }}" target="_blank">
                <div class="icon">{%- include svg/icon/social/linkedin.svg -%}</div>
              </a>
            </li>
          {%- endif -%} -->
          {%- if site.search.provider -%}
            <li><button class="button button--secondary button--circle search-button js-search-toggle"><i class="fas fa-search"></i></button></li>
          {%- endif -%}
        </ul>
      </nav>
      {%- endif -%}
    </div>
  </header>
